@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-bg {
    background: linear-gradient(
        150deg,
        #78c3af 0%,    /* Teal */
        #438eb5 20%,   /* Blue */
        #f3b062 40%,   /* Light orange */
        #ef8c49 60%,   /* Warm orange */
        #e53b55 80%,   /* Bright red */
        #4b3478 100%   /* Deep purple */
    );
}